
@font-face {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    src: 
         url('../fonts/plus-jakarta-sans-v3-latin-regular.woff2') format('woff2'),
         url('../fonts/plus-jakarta-sans-v3-latin-regular.woff') format('woff');
}
  @font-face {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    src: 
         url('../fonts/plus-jakarta-sans-v3-latin-500.woff2') format('woff2'), 
         url('../fonts/plus-jakarta-sans-v3-latin-500.woff') format('woff');
  }
 
  @font-face {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
    src: 
         url('../fonts/plus-jakarta-sans-v3-latin-600.woff2') format('woff2'), 
         url('../fonts/plus-jakarta-sans-v3-latin-600.woff') format('woff'); 
  }

  @font-face {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    src: 
         url('../fonts/plus-jakarta-sans-v3-latin-700.woff2') format('woff2'),
         url('../fonts/plus-jakarta-sans-v3-latin-700.woff') format('woff'); 
  }



*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
body{
    margin: 0%;
}
img{
    vertical-align: middle;
}
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  .container{
    position: relative;
    top: 91px;
    width: 1256px;
    padding: 30px 20px;
    margin: 0 auto;
  }

  /* header start */

  .window-inner{
    padding:  0px 20px;
    width: 1256px;
    position: fixed;
    z-index: 10;
    display: flex;
    align-items: center;
    top: 30px;
    left: 0%;
    right: 0%;
    margin: 0 auto;
    }
  .window-logo{
    margin-right: 50px;
  }

.window-list{
    padding: 0%;
    column-gap: 30px;
    display: flex; 
    list-style-type: none;
}
.window-link{
   text-decoration: none;
   font-weight: 500;
   font-size: 16px;
   line-height: 150%;
   color: #101010;
}
.window-link:hover{
    color: #1AAB7B;
}
.window-contact{
    margin-left: 525px;
    padding: 12px 24px;
    background: #101010;
    border-radius: 6px;
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
    border: 1px solid transparent;
}
.window-contact:hover{
background: #FFFFFF;
border: 1px solid #1AAB7B;
border-radius: 6px;
color: #1AAB7B;
}
.window-contact:active{
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
    background: #101010;
    opacity: 0.6;
    border-radius: 6px;
}
.window-line-span{
    top: 120px;
    z-index: 11;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #EEEEF4
}

/* header finish */

/* BUSINESS */


.business-inner{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.business-inform{
    width: 550px;
    display: inline-block;
}
.business-title{
font-weight: 700;
font-size: 56px;
line-height: 140%;
color: #101010;
margin: 0%;
}
.business-text{
font-weight: 400;
font-size: 18px;
line-height: 150%;
color: #636F87;
margin: 20px 0px 60px;
}
.business-link{
    text-decoration: none;
    padding: 20px 40px;
    background: #1AAB7B;
    border-radius: 6px;
    border: 1.5px solid transparent;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
}

.business-link:hover{
    background: #FFFFFF;
    border: 1.5px solid #1AAB7B;
    color: #1AAB7B;
}
.business-link:active{
    background: #1AAB7B;
    opacity: 0.7;
    border-radius: 6px;
    color: #fff;
 }